* {
    max-width:100%;
}

.hero {
    padding:0;
    height:250px;
    background-image: url("../media/about-us-hero-bg.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 80px;
}

.hero-text {
    margin:0;
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    list-style: none;
    box-sizing: border-box;
    max-width: 100%;
    flex: 1;
    min-width: 1px;
    text-align: center;
}

.hero-text > h1 {
    text-align: center;
    font-weight: normal;
}

.sound-bite-container > div {
    font-size: large;
    font-weight:bold;
    display:inline-block;
    border-left: 5px solid white;
    padding-left: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    font-weight:500;
    line-height: 1.4;
    list-style: none;
    max-width:100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex:0 0 auto;
}

.column-1 {
    padding:3%;
    height:max-content;
    box-sizing: border-box;
}

.column-2 {
    height:max-content;
    padding:5%;
}


.grid h2 {
    font-weight:bolder;
}

.grid p {
    font-size:16px;
    font-weight:500;
}

.divider-small::after {
    content: "";
    display: inline-block;
    width: 45px;
    max-width: 100%;
    border-top: 1px solid #000;
    vertical-align: top;
}

.text-center {
    text-align:center;
}

section.grid > div.row.row2 > div:nth-child(1) > div > img {
    margin-bottom: 20px;
}


.offer-text-box {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    position: relative;
    color: #000;
    text-align: center!important;
    margin-left: auto!important;
    padding: 70px 70px;
    background: #f5e5da;
}

.button-link, .button-link-2 {
    font: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    background-origin: border-box;
}

.button-link {
    margin-top:50px;
    background-color: transparent;
    border: 1px solid #101010;
    color: inherit;
    overflow: visible;
}

/*.pizza-and-friends {*/
/*    height: 350px;*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*    object-position: 100%;*/
/*}*/


.find-restaurant {
    width: 100%;
    margin:5% 0;
}

.button-container {
    text-align: center;
}

.text-container {
    text-align: center;
}


.button-link-2 {
    margin-top:50px;
    background-color: black;
    border: 1px solid #101010;
    color: white;
    overflow: visible;
}

@media screen and (min-width: 768px) {

    main {
        max-width:1618px;
        margin:0 auto;
    }

    .hero {
        height:518px;
    }

    .sound-bite-container > div {
        font-size: xx-large;
        padding-left:20px;
    }

    .text-center {
        text-align:left;
    }

    .column{
        flex:1;
    }

    .divider-long {
        content: "";
        position: relative;
        border-left: 1px solid #000;
        margin:0 40px;
    }

    .offer-text-box {
        margin: 70px auto 0;
        max-width:404px;
        box-sizing: content-box;
    }

}