.item-quantity {
  display: flex;
  align-items: center;
}

.minus-btn,
.plus-btn {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  background-color: #7d33c2;
  cursor: pointer;
  border: 1px solid rgb(83, 8, 80);
  height: 40px;
  width: 30px;
  color: #ffff;
}
.minus-btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.plus-btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.quantity-input {
  background-color: #b27de4;
  width: 50px;
  text-align: center;
  border: none;
  color: azure;
  height: 40px;
}

.img-styles {
  height: 25px;
  width: 30px;
  display: block;
}

.item-name {
  font-size: 30px;
}
.item-description {
  font-size: 15px;
}
.item-name,
.item-description {
  display: inline-block;
}
.item-col {
  width: 500px;
}
.heading-syles {
  text-align: center;
  margin: 5%;
}
.table-styles {
  width: 90%;
  margin: 0% auto;
}
.checkout {
  float: right;
  width: 500px;
  height: 500px;
  margin: 5%;
}

.subtotal {
  font-size: 25px;
  font-weight: 700;
}
.checkout-btn {
  float: right;
  width: 200px;
  margin: 10px auto;
}
.ssubtotal-price {
  font-size: 22px;
  font-weight: 600;
}
.grand-total {
  font-size: 30px;
  font-weight: 700;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  /* Change table font-size and padding */
  .table {
    font-size: 14px;
    padding: 10px;
  }

  /* Adjust the column widths */
  .item-col {
    width: 25%;
  }

  /* Reduce the font-size of the heading */
  .heading-syles {
    font-size: 1.5rem;
  }
  .checkout {
    width: 200px;
  }
  .minus-btn.plus-btn {
    width: 20px;
  }
  .quantity-input {
    width: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* Increase the font-size of the heading */
  .heading-syles {
    font-size: 2rem;
  }

  /* Adjust the column widths */
  .item-col {
    width: 20%;
  }

  /* Change the font-size of the table rows */
  .table td,
  .table th {
    font-size: 16px;
  }

  /* Change the font-size of the checkout section */
  .checkout {
    font-size: 16px;
  }
  .checkout-btn {
    float: right;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Adjust the column widths */
  .item-col {
    width: 15%;
  }

  /* Change the font-size of the table rows */
  .table td,
  .table th {
    font-size: 18px;
  }

  /* Change the font-size of the checkout section */
  .checkout {
    font-size: 18px;
  }
}
