* {
    /*font-family: "Nexa Bold", sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}


/* ------------------- Header tag styles -------------------*/
header {
    background-color: #b61500;
}

header .logo {
    max-width: 5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

header ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav li {
    display: block;
    flex-grow: 1;
}

header nav li a {
    color: #f2f2f2;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}

.navbar-item {
    display:none;
}

header nav li a:hover {
    text-decoration: underline;
}


.nav-dropdown-toggle {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.nav-dropdown-menu {
    display: none;
    padding: 10px;
    background-color: #b61500;
}
.nav-dropdown-menu li {
    padding: 0.5rem;
}



/* ------------------- Footer tag styles -------------------*/

footer {
    background-image: url("../media/footer-background.png");
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: block;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-section {
    flex-basis: 45%;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section li a {
    color: #ffffff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top:30px;
}

div .social-icons a {
    margin-right: 20px;
}

.social-icons a:last-child {
    margin-right: 0;
}

.share {
    color: #ffffff;
    width: 5rem;
    text-decoration: none;
    font-size:30px;
}

.footer-bottom {
    border-top: 1px solid #d8d8d8;
    margin-top: 30px;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

footer .logo {
    width: 7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
    }
}

@media screen and (min-width: 540px) {
    .navbar-item {
        display:block;
    }

    .nav-dropdown-toggle, .nav-dropdown-menu{
        display:none;
    }
}