/* ------------------- Header tag styles -------------------*/
.section1 {
    align-items: center;
    background-color: #b61500;
}

.logo {
    width: 7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

nav {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

header ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: block;
    flex-grow: 1;
}

nav li a {
    color: #f2f2f2;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

.tab {
    padding: 20px;
}

/* ------------------- Footer tag styles -------------------*/

footer {
    background-image: url("../media/footer-background.png");
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-section {
    flex-basis: 45%;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section li a {
    color: #ffffff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top:30px;
}

div .social-icons a {
    margin-right: 20px;
}

.social-icons a:last-child {
    margin-right: 0;
}

.share {
    color: #ffffff;
    width: 5rem;
    text-decoration: none;
    font-size:30px;
}

.footer-bottom {
    border-top: 1px solid #d8d8d8;
    margin-top: 30px;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

@media screen and (max-width: 720px) {
    * {
        max-width:100%;
    }
    .footer-container {
        display: block;
    }
}