.heading {
    text-align: center;
}

main {
    width: 90%;
    margin: 0 auto;
}

.container {
    display: block;
    padding: 0 3% 3% 3%;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#sidebar {
    /*display: flex;*/
    /*flex-direction: column;*/
    color: #aaa;
    height: 300px;
    overflow: scroll;
    box-sizing: border-box;
}

.branches {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.branch-distance, .branch-area, .branch-address, .branch-hours {
    box-sizing: border-box;
    margin:0 5% 0;
}

.branch-area {
    font-size: 24px;
    font-weight: bold;
    text-align:left;
    flex: 0 0 60%; /* set the first element to take up 70% of the available space */
}


.branch-distance {
    flex: 0 0 20%; /* set the second element to take up 30% of the available space */
}

.branch {
    align-items: center;
    font-size: 0.8rem;
    border-bottom: 1px solid #d9d9d9;
    color: #800000;
    cursor: pointer;
    border-radius: 5px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}


.active {
    border-left: 5px solid #800000;
}

.branch-address {
    font-style: italic;
    color: #606060;
}
.branch-hours {
    font-weight:bold;
}
.branch-address, .branch-hours {
    text-align: left;
}

#map {
    position: relative;
    display: block;
    height: 300px;
}





@media only screen and (min-width: 768px) {
    .container {
        display: flex;
    }

    #sidebar {
        height: 500px;
        width: 35%;
    }


    #map {
        height: 500px;
        width: 65%;
    }
}


#sidebar::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background: #800000;
    border-radius: 10px;
}