.hero {
    text-align:center;
    background-image: url('/media/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    margin:3% 5%;
    display: grid;
}

.hero-text-container {
    margin: 0;
    position: relative;
    top: 25%;
    height:fit-content;
}

.hero-text-container p, h1 {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.hero-text-container h1 {
    text-transform:uppercase;
    margin: 0;
}

.hero-text-container p {
    width:80%;
    margin: 0 auto;
}

@media only screen and (min-width: 540px) {
    .hero h1 {
        font-size: 4em;
    }
    .hero p {
        font-size: 1.5em;
    }
}